@model AnswerModel
@{
    ViewData["Title"] = "Register Page";
}
<div class="row text-center">
    <div class="col-md-6 mx-auto shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Vaccine Registration</h5>
            </div>
            <p class="text-secondary font-weight-bold mt-4">Page 2 of 2</p>
            <div class="card-body px-5">
                <form asp-action="Ques">

                    <input type="hidden" asp-for="PatientId" value="@Model.PatientId"/>

                    <div class="form-group row">
                        <label class="control-label font-weight-bold text-left">Do you have a history of severe allergies such as shortness of breath, swelling, urticaria all over the body, or other severe reactions to vaccines?</label>
                        <div class="form-check">
                            <input asp-for="isAllergies" class="form-check-input" type="radio" value="Yes">
                            <label asp-for="isAllergies" class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="isAllergies" class="form-check-input" type="radio" value="No">
                           <label asp-for="isAllergies" class="form-check-label">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label font-weight-bold text-left">Do you have an autoimmune disease, such as lupus?</label>
                        <div class="form-check">
                            <input asp-for="isAutoimmune" class="form-check-input" type="radio" value="Yes">
                            <label asp-for="isAutoimmune" class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="isAutoimmune" class="form-check-input" type="radio" value="No">
                           <label asp-for="isAutoimmune" class="form-check-label">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label font-weight-bold text-left">
                            Are you on medication for blood clotting disorders, blood disorders,
                            immune deficiencies, and receiving blood products/transfusions?
                        </label>
                        <div class="form-check">
                            <input asp-for="isMedication" class="form-check-input" type="radio" value="Yes">
                            <label asp-for="isMedication" class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="isMedication" class="form-check-input" type="radio" value="No">
                           <label asp-for="isMedication" class="form-check-label">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label font-weight-bold text-left">Are you currently receiving immunosuppressant treatment such as corticosteroids and chemotherapy?</label>
                          <div class="form-check">
                            <input asp-for="isImmunosuppressant" class="form-check-input" type="radio" value="Yes">
                            <label asp-for="isImmunosuppressant" class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="isImmunosuppressant" class="form-check-input" type="radio" value="No">
                           <label asp-for="isImmunosuppressant" class="form-check-label">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label font-weight-bold text-left">
                            Do you have severe heart disease or asthma in a state of shortness of
                            breath?
                        </label>
                         <div class="form-check">
                            <input asp-for="isHeartdisease" class="form-check-input" type="radio" value="Yes">
                            <label asp-for="isHeartdisease" class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="isHeartdisease" class="form-check-input" type="radio" value="No">
                           <label asp-for="isHeartdisease" class="form-check-label">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label font-weight-bold text-left">Do you have a history of diabetes?</label>
                       <div class="form-check">
                            <input asp-for="isDiabetes" class="form-check-input" type="radio" value="Yes">
                            <label asp-for="isDiabetes" class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="isDiabetes" class="form-check-input" type="radio" value="No">
                           <label asp-for="isDiabetes" class="form-check-label">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label font-weight-bold text-left">Do you have a history of hypertension?</label>
                         <div class="form-check">
                            <input asp-for="isHypertension" class="form-check-input" type="radio" value="Yes">
                            <label asp-for="isHypertension" class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="isHypertension" class="form-check-input" type="radio" value="No">
                           <label asp-for="isHypertension" class="form-check-label">
                                No
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label font-weight-bold text-left">Have you ever been confirmed to have COVID-19?</label>
                        <div class="form-check">
                            <input asp-for="isCovid" class="form-check-input" type="radio" value="Yes">
                            <label asp-for="isCovid" class="form-check-label">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="isCovid" class="form-check-input" type="radio" value="No">
                           <label asp-for="isCovid" class="form-check-label">
                                No
                            </label>
                        </div>
                    </div>

                    

                    <div class="form-group d-flex justify-content-end">
                        <input type="submit" value="Ques" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>